.banner {
  --aries-fg: #fff;
  --aries-bg: #000;
  width: 100%;
  background: var(--aries-bg);
  color: var(--aries-fg);
  height: var(--banner-height);
  display: flex;
  align-items: center;
  justify-content: center;
}

.inner {
  width: 100%;
  max-width: var(--max-width);
  margin: 0 auto;
  padding: 0 1rem;
  display: flex;
  align-items: center;
  justify-content: flex-end;
}

.banner p {
  color: var(--aries-fg);
}

@media (max-width: 640px) {
  .banner {
    height: unset;
  }
  .inner {
    text-align: center;
    flex-direction: column;
    justify-content: center;
  }
}
