.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  box-shadow: var(--header-border-bottom);
  background: var(--header-bg);
  transition: background 300ms ease-in-out;
}

.header.shown {
  background: var(--aries-bg);
}

.header.hideBorder {
  box-shadow: none;
  background: var(--aries-bg);
}

.header.sticky {
  position: sticky;
  top: 0;
}
