.header {
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  width: 100%;
  z-index: 1000;
  box-shadow: var(--header-border-bottom);
  background: var(--header-bg);
  transition: box-shadow 0.2s ease 0s;
}

.header.sticky {
  position: sticky;
  top: 0;
}

.header.hideBorder {
  box-shadow: none;
}
