.nav {
  position: relative;
  flex: 1;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  display: flex;
  margin-right: auto;
}
.logo.error {
  margin: auto;
}

.header-feedback {
  display: inline-flex;
  margin: var(--gap);
  z-index: 1001;
}

.no-feedback {
  visibility: hidden;
  width: 90px;
}

.not-logo a {
  margin: 1.5rem;
}

.not-logo {
  display: flex;
  align-items: center;
}

@media (max-width: 640px) {
  .nav {
    height: unset;
  }
  .logo {
    margin: 0 auto;
  }
  .not-logo {
    display: none;
  }
}

@media (max-width: 1020px) {
  .header-feedback {
    display: none;
  }
}
