.desktopNav {
  position: relative;
  flex: 1;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  z-index: 1;
}

.logo {
  display: flex;
  margin-right: auto;
}
.logo.error {
  margin: auto;
}

.header-feedback {
  display: inline-flex;
  margin: var(--gap);
  z-index: 1001;
}

.not-logo {
  display: flex;
  align-items: center;
}

.not-logo a {
  margin: 1.5rem;
}

.toggle,
.mobileNav {
  display: none;
}

@media (max-width: 640px) {
  .desktopNav {
    height: unset;
  }
  .logo {
    margin: 0 auto;
  }
  .not-logo {
    display: none;
  }

  .toggle {
    display: block;
    position: absolute;
    right: 0;
  }

  .mobileNav {
    z-index: 2;
    background: var(--bg);
  }

  .mobileNav.active {
    display: flex;
    width: 100%;
    flex-direction: column;
    align-items: center;
    position: relative;
    margin-bottom: var(--gap-triple);
  }

  .mobileNav > a {
    height: var(--gap-triple);
    width: 100%;
    border-bottom: 1px solid var(--accents-7);
    display: flex;
    align-items: center;
  }
}
