.nav {
  position: relative;
  flex: 1;
  height: var(--header-height);
  display: flex;
  align-items: center;
}

.links {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-around;
  z-index: 1;
}

.links a {
  text-decoration: none;
  transition: color 0.2s ease;
}

.links a:hover {
  color: var(--accents-1);
}

.links a.selected {
  color: var(--accents-1);
  text-shadow: 0px 0px 1px;
}

.links a:first-child {
  display: flex;
  margin: 0;
}

/* Mobile */

@media (max-width: 640px) {
  .nav {
    height: unset;
  }
  .links a:not(:first-child) {
    display: none;
  }
}
