.content {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  margin: var(--gap-double) auto;
  padding: 0 1.5rem;
  max-width: var(--max-width);
}
.content h2 {
  font-size: var(--gap-double);
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

.gradient-bg {
  position: relative;
  display: block;
  user-select: none;
}

.gradient-bg.gradient-bg-1 {
  --start-color: #89f7fe;
  --end-color: #66a6ff;
  --gradient: linear-gradient(120deg, var(--start-color) 0%, var(--end-color) 100%);
}

.gradient-bg.gradient-bg-2 {
  --start-color: #b993d6;
  --end-color: #8ca6db;
  --gradient: linear-gradient(100deg, var(--start-color) 0%, var(--end-color) 100%);
}

.gradient-bg .gradient-fg {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: var(--gradient);
  position: relative;
  z-index: 1;
}

.email-form {
  position: relative;
}

@media screen and (max-width: 640px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content h2,
  .content h3 {
    text-align: center;
  }
  .email-form {
    margin: auto;
    margin-top: var(--gap-double);
    text-align: center;
  }
}
