.content {
  display: flex;
  align-items: center;
  justify-content: space-between;
  max-width: var(--max-width);
}
.content h2 {
  font-size: var(--gap-double);
  letter-spacing: -1px;
  line-height: 1.2;
  margin-bottom: 0.8rem;
}

@media screen and (max-width: 640px) {
  .content {
    display: flex;
    flex-direction: column;
  }
  .content h2,
  .content h3 {
    text-align: center;
  }

  .content > aside:first-child {
    padding-bottom: var(--gap);
  }
}
