.content {
  display: grid;
  grid-template-columns: 1fr 0.8fr;
  align-items: center;
  margin: var(--gap-double) auto;
  padding: 0 1.5rem;
  max-width: var(--max-width);
}
.content h2 {
  font-size: var(--gap-double);
  letter-spacing: -1px;
  line-height: 1.2;
  text-align: left;
  margin-bottom: 0.8rem;
}

.content h3 {
  font-size: var(--gap);
  line-height: 1.8;
  text-align: left;
  font-weight: 400;
}

.gradient-bg {
  position: relative;
  display: block;
  user-select: none;
}

.gradient-bg.gradient-bg-1 {
  --start-color: #007cf0;
  --end-color: #00dfd8;
}

.gradient-bg.gradient-bg-2 {
  --start-color: var(--aries-violet);
  --end-color: var(--aries-highlight-pink);
}

.gradient-bg .gradient-fg {
  background-clip: text;
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-image: linear-gradient(90deg, var(--start-color), var(--end-color));
  position: relative;
  z-index: 1;
}

.email-form {
  text-align: right;
  position: relative;
}

@media screen and (max-width: 640px) {
  .content {
    display: grid;
    grid-template-columns: 1fr;
  }
  .content h2,
  .content h3 {
    text-align: center;
  }
  .email-form {
    margin: auto;
    margin-top: var(--gap-double);
    text-align: center;
  }
}
