.reset {
  outline: none;
  color: var(--fg);
  text-decoration: none;
}

.gray {
  color: var(--gray);
}

.gray:hover,
.gray:focus {
  color: var(--fg);
}

.selected:global(.villa-paradiso) {
  color: var(--aries-vp-1);
  text-shadow: 0px 0px 1px var(--aries-vp-1);
}
.selected:global(.treehouse) {
  color: var(--aries-treehouse);
  text-shadow: 0px 0px 1px var(--aries-treehouse);
}
.selected:global(.ithaca) {
  color: var(--aries-ithaca);
  text-shadow: 0px 0px 1px var(--aries-ithaca);
}

.underline {
  outline: none;
  color: var(--fg);
  text-decoration: none;

  background-image: linear-gradient(to right, var(--gray), var(--gray));
  background-size: 100% 1px;
  background-position: left bottom;
  background-repeat: no-repeat;
  text-shadow: 0.1em 0 var(--bg), -0.1em 0 var(--bg), 0.05em 0 var(--bg), -0.05em 0 var(--bg);
}

.underline:hover,
.underline:focus {
  color: var(--gray);
}
