.root {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.person {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.person p:first-of-type {
  padding-top: var(--gap);
}
.person p {
  margin: 0 auto;
}

.person img {
  margin: 5px 0;
}

@media screen and (max-width: 640px) {
  .root p {
    font-size: 14px;
  }

  .person {
    flex: 50%;
    margin: auto;
  }
}
