.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  padding: var(--gap);
  display: flex;
  flex-direction: column;
  align-items: center;
}

.team-member p:first-of-type {
  padding-top: var(--gap);
}
.team-member p {
  margin: 0 auto;
}

.team-member img {
  margin: 5px 0;
}

@media screen and (max-width: 640px) {
  .wrapper p {
    font-size: 14px;
  }

  .team-member {
    flex: 50%;
    margin: auto;
  }
}
