.wrapper {
  position: relative;
  display: flex;
  justify-content: space-around;
  flex-wrap: wrap;
}

.team-member {
  padding-top: var(--gap);
  display: flex;
  flex-direction: column;
  flex: 1 0 auto;
}

.team-member p {
  margin: 0 auto;
}

@media screen and (max-width: 640px) {
  .wrapper p {
    font-size: 14px;
  }
}
