.root {
  align-items: center;
  border-radius: var(--text-radius);
  border: var(--border-2);
  display: inline-flex;
  position: relative;
  transition: border 0.2s ease, color 0.2s ease;
  background: var(--aries-bg);
  height: calc(9 * var(--gap-quarter));
  width: 100%;
}

.root.focused {
  border: 1px solid var(--accents-5);
}

.root.disabled {
  background: var(--accents-1);
  border-color: var(--accents-2);
  cursor: not-allowed;
}

.wrapper {
  margin-right: 0;
}

.wrapper {
  display: block;
  margin: 4px 10px;
  position: relative;
  width: 100%;
}

.root input {
  border-radius: 0;
  border: none;
  box-shadow: none;
  box-sizing: border-box;
  display: block;
  padding: 0;
  font-family: var(--fontFamily);
  font-size: 14px;
  line-height: 26px;
  outline: 0;
  width: 100%;
  color: var(--aries-fg);
  background-color: transparent;
  caret-color: var(--aries-fg);
  text-overflow: ellipsis;
  -webkit-appearance: none;
  appearance: none;
}

.root input:disabled {
  color: var(--accents-3);
  cursor: not-allowed;
}

.root input::placeholder,
.root input::-webkit-input-placeholder {
  color: var(--accents-3);
}

.root input:disabled::placeholder {
  color: var(--accents-3);
}

@media only screen and (max-device-width: 780px) and (-webkit-min-device-pixel-ratio: 0) {
  .root input {
    font-size: 16px;
    line-height: 1;
  }

  .root {
    height: var(--gap-triple);
  }
}
