.sticky {
  top: var(--header-height);
  height: var(--secondary-header-height);
  z-index: 100;
  position: sticky;
  box-shadow: var(--header-border-bottom);
  background: var(--aries-bg);
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: var(--gap-quarter) 0;
}
.main {
  padding: 1px;
}

.sticky h3:not(:first-child),
.main h3,
.sticky a {
  font-weight: 300;
  font-size: 1.125em;
}

.room-types {
  display: flex;
  flex-direction: column;
}

.details {
  display: flex;
  align-items: center;
  justify-content: stretch;
}
.details > * {
  flex: 1;
}

@media (max-width: 640px) {
  .sticky {
    top: 0;
    flex-direction: column;
    align-items: flex-start;
  }
}
