.main {
  display: flex;
  flex-direction: column;
  align-items: flex-start;
  justify-content: center;
}

.main :global(a:last-of-type) {
  margin-top: var(--gap-half);
}

.main h3:not(:first-child),
.main a {
  font-weight: 300;
  font-size: 1.125em;
}

.container {
  background: var(--aries-bg);
  border-radius: 5px;
  height: calc(((100vh - 2rem)) - 50px);
}
