.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 100%;
  z-index: 999;
  min-height: var(--secondary-header-height);
  background: var(--aries-bg);
  padding: var(--gap-half) 0;
}

.top.border {
  border-bottom: 1px solid var(--header-scrolled-shadow);
}

.top.sticky {
  position: sticky;
  top: var(--header-height);
}

.top h3:not(:first-child),
.top a {
  font-weight: 300;
  font-size: 1.125em;
}

.main {
  padding: 1px;
}

.room-types {
  padding-top: var(--gap);
}

.flex {
  display: inline-flex;
}

.flex p:last-child {
  padding-left: 1rem;
}

@media (max-width: 640px) {
  .top {
    padding: var(--gap) 0;
    font-size: 14px;
    flex-direction: column;
    align-items: flex-start;
  }
}
