.root {
  position: relative;
  display: inline-flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  text-decoration: none;
  border-radius: var(--radius);
  background-color: var(--aries-1);
  color: var(--aries-fg);
  border: 1px solid var(--aries-1);
  padding: var(--gap-quarter) var(--gap);
  margin: 0;
  font-weight: 500;
  font-size: inherit;
  line-height: inherit;
  height: 2.81rem;
  transition: background 0.2s ease, color 0.2s ease, box-shadow 0.2s ease;
  outline: none;
}

:global(html[data-theme='dark']) .root {
  --shadow-small: 0;
}

.root:hover {
  background-color: transparent;
  color: var(--aries-1);
}

.root.invert {
  background-color: var(--aries-bg);
  border: var(--border-2);
  color: var(--accents-5);
  box-shadow: var(--shadow-small);
}
.root.invert:hover,
.root.invert:active {
  color: var(--aries-fg);
  border-color: var(--aries-fg);
}

.root.invert.outline {
  background-color: var(--accents-8);
  box-shadow: var(--shadow-small);
  border: 1px solid var(--accents-8);
  color: var(--aries-bg);
}
.root.invert.outline:hover,
.root.invert.outline:active {
  background-color: transparent;
  outline: none;
  border-color: var(--aries-1);
  color: var(--aries-1);
}
.root.small {
  font-size: 0.875rem;
  height: 1.5rem;
  padding: 0 var(--gap-three-quarter);
  line-height: inherit;
  border-radius: var(--text-radius);
}
.root.loading {
  background: var(--accents-1);
  color: var(--accents-4);
  border: 1px solid var(--aries-fg);
  border-color: var(--accents-2);
  box-shadow: none;
  cursor: default;
  pointer-events: none;
}
.root.loading > .text {
  visibility: hidden;
}
.root > .loading-dots {
  position: absolute;
}

.root.subscribe {
  border-radius: var(--radius);
  color: var(--aries-1);
  background-color: var(--aries-fg);
  border: 1px solid var(--aries-fg);
  outline: none;
  margin: 10px 0;
  width: 100%;
  color: var(--aries-bg);
}

.root.subscribe:focus,
.root.subscribe:hover {
  background-color: transparent;
  outline: none;
  border-color: var(--aries-fg);
  color: var(--aries-fg);
}

.root.subscribe.invert {
  background-color: var(--aries-1);
  color: #fff;
  border: 1px solid var(--aries-1);
  width: 175px;
}
.root.subscribe.invert:focus,
.root.subscribe.invert:hover {
  outline: none;
  background-color: transparent;
  border-color: var(--aries-1);
  color: var(--aries-1);
}
