.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin: var(--gap) 0;
}

.card {
  border-radius: 15px;
  flex: 1;
  display: flex;
  flex-direction: column;
  transition: box-shadow 0.2s ease, background 0.2s ease;
}
.card p {
  text-decoration: none;
  transition: color 0.5s ease;
}
.card:hover {
  cursor: pointer;
  transition: box-shadow 0.2s ease, background 0.2s ease;
  box-shadow: var(--shadow-hover);
  background: var(--gradient-2);
}

.card:hover :global(p) {
  text-decoration: underline;
}

.card:hover :global(p.vp) {
  color: var(--vp);
}
.card:hover :global(p.ithaca) {
  color: var(--ithaca);
}
.card:hover :global(p.treehouse) {
  color: var(--treehouse);
}

@media screen and (max-width: 960px) {
  .images {
    flex-direction: column;
    margin: var(--gap) auto auto;
  }

  .card {
    box-shadow: var(--shadow-hover);
    background: var(--gradient-3);
    margin: var(--gap-half) 0;
  }
  .card p {
    text-decoration: underline;
  }

  .card :global(p.vp) {
    color: var(--vp);
  }
  .card :global(p.ithaca) {
    color: var(--ithaca);
  }
  .card :global(p.treehouse) {
    color: var(--treehouse);
  }
}
