.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  border-radius: 15px;
  display: flex;
  flex: 1;
  margin: 0 var(--gap-half);
  flex-direction: column;
  transition: box-shadow 0.2s ease, background 0.2s ease;
}
.card p {
  text-decoration: none;
  transition: color 0.5s ease;
}
.card:hover {
  cursor: pointer;
  box-shadow: var(--shadow-small);
  background: var(--gradient-2);
}

.buttons {
  display: inline-flex;
  justify-content: space-evenly;
  white-space: nowrap;
}

.button-spacer {
  padding: 1rem 0;
}
.button-spacer :global(a) {
  width: 177.5px;
}

.card:hover :global(p.vp) {
  color: var(--vp);
}
.card:hover :global(p.ithaca) {
  color: var(--ithaca);
}
.card:hover :global(p.treehouse) {
  color: var(--treehouse);
}

@media screen and (max-width: 960px) {
  .images {
    flex-direction: column;
  }

  .buttons {
    justify-content: space-between;
    margin: auto;
  }
  .button-spacer {
    padding: 0.5rem;
  }

  .card p {
    text-decoration: underline;
  }
}
