.wrapper {
  display: flex;
  position: relative;
  justify-content: space-around;
  align-items: center;
  align-content: center;
  flex-wrap: wrap;
}

.team-member {
  display: flex;
  flex-direction: column;
  flex: 0 1 auto;
}

@media screen and (max-width: 640px) {
  .wrapper p {
    font-size: 14px;
  }
  .team-member {
    margin-top: 2rem;
    flex: 33%;
  }
}
