.theme-icon {
  transition: fill 200ms ease-in-out;
}
.theme-icon:hover {
  fill: var(--aries-1);
}

.lines {
  display: flex;
  width: 100%;
  justify-content: center;
  align-items: center;
}

.lines:before,
.lines:after {
  content: '';
  border-top: 1px solid var(--aries-fg);
  border-color: var(--accents-2);
  margin: 0 var(--gap) 0 0;
  flex: 1 0 20px;
}

.lines:after {
  margin: 0 0 0 var(--gap);
}

.appear {
  opacity: 0;
  animation: appear 0.8s cubic-bezier(0.1, 0, 0.175, 1) forwards;
}

.appear-first {
  animation-delay: 0.4s;
}

.appear-second {
  animation-delay: 0.8s;
}

.appear-third {
  animation-delay: 1.2s;
}

.appear-fourth {
  animation-delay: 1.6s;
}

.appear-fifth {
  animation-delay: 2s;
}

.appear-sixth {
  animation-delay: 2.4s;
}
.appear-seventh {
  animation-delay: 2.8s;
}

@keyframes appear {
  to {
    opacity: 1;
  }
}
