.collapseGroup {
  border-top: var(--border-2);
}

.collapse {
  border-top: none;
  border-bottom: var(--border-2);
  padding: 24px 0;
  text-align: left;
}

.collapse.border {
  border-top: var(--border-2);
}

.collapse.small {
  padding: 12px 0;
}

.collapse.card {
  padding: 24px;
  box-shadow: var(--shadow-small);
  border-radius: var(--text-radius);
  border: none;
}

.title {
  text-transform: none;
  color: var(--aries-fg);
  cursor: pointer;
  outline-width: 0;
}

.top {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.subtitle {
  color: var(--accents-5);
  margin-top: 24px;
}

.content {
  font-size: 16px;
  line-height: 26px;
  overflow-y: hidden;
}

.content > div {
  overflow-y: hidden;
}

/* Support box shadow on child elements */
.content.open,
.content.open > div {
  margin-left: -60px;
  margin-right: -60px;
  padding-left: 60px;
  padding-right: 60px;
}

.icon {
  transition: transform 0.2s ease, color 0.5s ease-in-out;
}

.icon.open {
  transform: rotate(-180deg);
  color: var(--aries-1);
}
