.root {
  width: 100%;
  margin: 0 auto;
  padding: 0 var(--gap);
  max-width: var(--max-width);
}

.wide {
  padding: 0 0;
}

.padding {
  padding: var(--gap-double) var(--gap);
}

.small {
  max-width: 768px;
}

.fade {
  background: var(--background-gradient);
  border-top: var(--border-2);
}

.dark {
  background: var(--container-dark-bg);
}

.gray {
  background: var(--accents-1);
  border-top: var(--border-2);
}

.maxWidth {
  max-width: unset;
}

.overflowHidden {
  overflow: hidden;
}

.center {
  text-align: center;
}

.treehouse {
  --aries-1: var(--aries-treehouse-1);
  --aries-selection: var(--aries-treehouse-1);
  --start-color: var(--aries-treehouse-1);
  --end-color: var(--aries-treehouse-2);
  --gradient: linear-gradient(90deg, var(--start-color) 0%, var(--end-color) 100%);
  --font-primary: var(--start-color);
  --font-secondary: var(--end-color);
}
.ithaca-south-beach {
  --aries-1: var(--aries-ithaca-1);
  --aries-selection: var(--aries-ithaca-1);
  --start-color: var(--aries-ithaca-1);
  --end-color: var(--aries-ithaca-2);
  --gradient: linear-gradient(90deg, var(--start-color) 0%, var(--end-color) 100%);
  --font-primary: var(--start-color);
  --font-secondary: var(--end-color);
}

.villa-paradiso {
  --aries-1: var(--aries-vp-1);
  --aries-selection: var(--aries-vp-1);
  --start-color: var(--aries-vp-3);
  --end-color: var(--aries-vp-1);
  --gradient: linear-gradient(120deg, var(--start-color) 0%, var(--end-color) 100%);
  --font-primary: var(--end-color);
  --font-secondary: var(--start-color);
}

.aries-living {
  --font-primary: var(--aries-1);
}

@media screen and (max-width: 960px) {
  .root {
    padding: 0 var(--gap-double);
  }

  .padding {
    padding: var(--gap-four) var(--gap-double);
  }

  .wide {
    padding: 0 0;
  }
}

@media screen and (max-width: 640px) {
  .root {
    padding: 0 var(--gap);
  }

  .padding {
    padding: var(--gap-triple) var(--gap-double);
  }

  .wide {
    padding: 0 0;
  }

  .mobileCenter {
    text-align: center;
  }
}
