.menu {
  display: none;
  visibility: hidden;
  user-select: none;
  border: 0;
  color: var(--aries-fg);
  padding: 0 10px;
  transition: all 200ms ease;
  cursor: pointer;
}

.menu:hover,
.menu.is-active :global(.arrow),
.menu.is-active {
  color: var(--aries-fg);
  fill: var(--aries-fg);
}

.wrapper {
  display: flex;
  flex-direction: column;
  border-radius: var(--text-radius);
  overflow: hidden;
}

.header h5 {
  margin: 0;
}

.header + .content {
  border-top: 1px solid var(--accents-2);
}

.header,
.content {
  padding: var(--gap);
}

.content :global(.hotel-logo) {
  margin-left: auto;
}

@media (min-width: 951px) {
  .menu {
    display: flex;
    visibility: visible;
    align-items: center;
  }
}
