.line {
  border-top: var(--border-2);
  margin: 2px 0;
}

.popover {
  display: inline-block;
  position: relative;
}

.triangle {
  display: block;
  position: absolute;
  left: 60px;
  top: -1px;
  line-height: 11px; /* height of triangle (minus 1 :S) */
  z-index: 1;
  text-align: left;
}

.popover .triangle {
  top: -1px;
}

.menu {
  color: var(--aries-fg);
  display: inline-block;
  text-align: left;
  background: var(--aries-bg);
  width: 180px;
  max-width: 100vw;
  min-width: auto;
  box-shadow: var(--shadow-medium);
  border-radius: var(--text-radius);
  padding: 0;
  margin-top: 11px;
}

.item {
  position: relative;
  color: var(--accents-5);
  line-height: 20px;
  transition: color 0.1s ease, background-color 0.1s ease;
  max-width: 100%;
  padding: 0;
}

.item:global:first-child a {
  padding-top: 0;
}

.item:global:last-child a {
  padding-bottom: 0;
}

.item.disabled {
  cursor: not-allowed;
  opacity: 0.5;
  background: var(--accents-1);
  user-select: none;
}

.item:not(.disabled):hover,
.item.active {
  color: var(--aries-fg);
}

.item.disabled {
  cursor: not-allowed;
  background: var(--accents-1);
  user-select: none;
}

.item > :global(a) {
  display: flex;
  align-items: center;
  text-decoration: none;
  margin: 0;
  padding: var(--gap-half) 0;
}
