.root {
  --open-width: 339px;
  --open-height: 277px;
  --closed-width: 90px;
  --closed-height: 32px;

  padding: 0;
  position: relative;
  height: var(--closed-height);
  width: var(--closed-width);
  display: inline-block;
  font-family: var(--fontFamily);
  text-rendering: optimizeLegibility;
  -webkit-font-smoothing: antialiased;
}

.root .wrapper {
  appearance: none;
  background: var(--aries-bg);
  border: var(--border-2);
  display: flex;
  line-height: 1.5;
  font-size: 0.875rem;
  border-radius: var(--text-radius);
  font-family: var(--fontFamily);
  width: var(--closed-width);
  height: var(--closed-height);
  resize: none;
  /* fixes a bug in ff where the animation of the chat
* counter appears on top of our input during its transition */
  z-index: 100;
  outline: 0;
  color: var(--aries-fg);
  flex-direction: column;
  justify-content: flex-start;
  overflow: hidden;
  position: relative;
  transition: all 200ms ease-in-out, border-radius 200ms step-start, border 200ms ease-in-out;

  &.blur {
    .inputWrapper,
    .controls {
      display: none;
    }
  }
}

.root.focused .wrapper {
  width: var(--open-width);
  height: var(--open-height);
  border: none;
  border-color: var(--aries-fg);
  box-shadow: var(--shadow-large);
  background: var(--aries-bg);
  transition: all 0ms ease-in-out, border-radius 0ms step-start, border 100ms ease-in-out;
}

.root:focus,
.root:active {
  outline: 0;
}

.root .wrapper .placeholder {
  display: flex;
  position: absolute;
  top: -1px;
  left: -1px;
  align-items: center;
  justify-content: center;
  width: var(--closed-width);
  height: var(--closed-height);
  border: 1px solid transparent;
  flex-shrink: 0;
  background: var(--aries-bg);
  z-index: 1000;
  transition: opacity 0.1s ease-out, color 0.1s, top 0.1s step-start, left 0.1s step-start;
  transition-delay: 0.2s, 0s;
  cursor: text;
}

.root.focused .placeholder {
  opacity: 0;
  pointer-events: none;
  top: 0px;
  left: 0px;
  color: var(--aries-fg);
  transition: opacity 0.005s linear;
}

.root .inputWrapper {
  padding: var(--gap-three-quarter);
  opacity: 0;
  transition: opacity 0.2s ease;
  position: relative;
  height: 222px;
  text-align: initial;
}

.root.focused .inputWrapper {
  opacity: 1;
}

.root .input:not(:last-child) {
  margin-bottom: var(--gap-three-quarter);
}

.root .input h5 {
  margin: 0;
  font-weight: 500;
  font-size: 12px;
  text-transform: uppercase;
  margin-top: 0px;
  margin-bottom: var(--gap-half);
  color: var(--accents-5);
}

.root:hover .wrapper,
.root:focus .wrapper,
.root:active .wrapper {
  border-color: var(--font-primary);
}

.root:hover .input > *::placeholder,
.root:focus .input > *::placeholder,
.root:active .input > *::placeholder {
  color: var(--aries-fg);
}

.root .input > *::placeholder {
  color: var(--accents-5);
  transition: color 0.2s ease-in-out;
}

.root.error textarea,
.root.loading textarea,
.root.success textarea {
  pointer-events: none;
}

.root.error textarea,
.root.success textarea {
  color: transparent;
  user-select: none;
}

.root.loading textarea {
  color: var(--accents-3);
}

.root .textarea-wrapper {
  height: var(--closed-height);
  width: var(--closed-width);
  transition: all 150ms ease-in-out, border-radius 150ms step-start;
}

.root .errorMessage,
.root .successMessage {
  z-index: 1001;
  position: absolute;
  left: 0;
  top: 0;
  width: var(--open-width);
  font-size: 0.875rem;
  height: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  text-align: center;
  padding: 20px;
  flex-direction: column;
}

.root .successMessage p {
  line-height: normal;
  margin: 0;
  opacity: 0;
  animation: appear 500ms ease forwards;
}

.root .successMessage .checkmark {
  opacity: 0;
  animation: appear 200ms 100ms ease forwards;
}

.root .successMessage p:first-of-type {
  margin-top: var(--gap-three-quarter);
  margin-bottom: var(--gap-half);
  animation-delay: 300ms;
}

.root .successMessage p:nth-of-type(2) {
  animation-delay: 500ms;
}

.root .errorMessage > span {
  color: var(--aries-error);
  margin-bottom: var(--gap-three-quarter);
}

.root .errorMessage a {
  color: var(--aries-fg);
  text-decoration: none;
}

.root .controls {
  pointer-events: none;
  width: var(--open-width);
  height: var(--gap-four);
  background-color: var(--aries-bg);
  display: flex;
  align-items: center;
  border-bottom-left-radius: var(--text-radius);
  border-bottom-right-radius: var(--text-radius);
  border-top: var(--border-2);
  padding: var(--gap-three-quarter);
  opacity: 0;
  transition: opacity 0.2s ease;
}

.root.focused .controls {
  pointer-events: inherit;
  opacity: 1;
}

.root .controls .emojis {
  width: 160px;
}

.root .controls .buttons {
  flex: 1;
  text-align: right;
  transition: opacity 200ms ease;
  margin-left: auto;
}

@keyframes appear {
  from {
    opacity: 0;
  }
  to {
    opacity: 1;
  }
}

/* At 951px the dots menu disappears and changes the width */
@media (max-width: 951px) {
  .root {
    --open-width: 300px;
  }
}

/* Emoji selector */
.emojiSelector {
  display: flex;
  width: 210px;
  pointer-events: none;
}

.emojiSelector.loading {
  filter: grayscale(100%);
  -webkit-filter: grayscale(100%);
  cursor: default;
  pointer-events: none;
}

.root.focused .emojiSelector {
  pointer-events: all;
}

.emojiSelector > button {
  outline: none;
  background: transparent;
  border: 0;
  padding: 0;
  margin: 0;
  transition: all 0.12s ease-in-out;
  border-radius: 50%;
  border: var(--border-2);
}

.emojiSelector > .option.active {
  transform: scale(1.12);
  border-color: var(--aries-warning);
}

.emojiSelector > button:hover,
.emojiSelector > button:focus {
  background: var(--aries-bg);
  transform: scale(1.08);
}

.emojiSelector > button,
.emojiSelector > button .inner {
  display: inline-flex;
}

.emojiSelector > button {
  cursor: pointer;
  text-align: center;
}

.emojiSelector button + button {
  margin-left: var(--gap-half);
}

.emojiSelector.loading > button {
  cursor: default;
}

.emojiSelector > button:first-child {
  outline: none;
  pointer-events: all;
}

.emojiSelector.loading > button:first-child {
  outline: none;
}

.emojiSelector > button .inner {
  height: var(--gap-double);
  width: var(--gap-double);
  border-radius: 50%;
  display: flex;
  justify-content: center;
  align-items: center;
}

.emojiSelector > button.option {
  transition: all 200ms cubic-bezier(0.5, -1, 0.5, 2);
}
