.grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr;
  grid-row-gap: var(--gap-double);
  --footer-text: #8c8c8c;
}
.footer {
  padding: var(--gap-double) 0 var(--gap);
  min-height: 150px;
}

.footer a,
.footer p,
.copyright {
  color: var(--footer-text);
}
.footer h4 a {
  color: inherit;
}
.footer a:hover {
  color: var(--aries-1);
}
.copyright {
  margin-top: var(--gap);
}
.copyright span {
  display: inline-flex;
}
.copyright span a {
  padding-right: var(--gap-half);
}
.copyright div {
  margin-top: var(--gap-half);
}
.copyright :global(svg) {
  cursor: pointer;
}
.footer h4 {
  margin-bottom: var(--gap-three-quarter);
  color: var(--light-gray);
}
.footer p {
  margin-top: 0;
  margin-bottom: var(--gap-quarter);
}
@media screen and (max-width: 800px) {
  .grid {
    grid-template-columns: 1fr 1fr;
  }

  .footer h4,
  .footer p {
    margin: 0;
  }

  .footer p {
    display: block;
    padding-top: 15px;
    padding-bottom: 15px;
  }
}
