.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
}

.card {
  padding: 0 var(--gap-half) var(--gap-half);
  flex: 1;
  display: flex;
  flex-direction: column;
}
.card.clickable p {
  transition: color 0.2s ease-in;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable:hover :global(p) {
  color: var(--aries-1);
}

.buttons {
  display: inline-flex;
  justify-content: center;
  white-space: nowrap;
}

.button-spacer {
  padding: var(--gap) var(--gap-three-quarter);
}
.button-spacer :global(a) {
  width: 153.66666666666665px;
}

@media screen and (max-width: 960px) {
  .images {
    flex-direction: column;
    padding: 0 var(--gap);
  }
}
