.main {
  position: relative;
  display: flex;
  flex-direction: column;
}

.images {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 0 auto;
}

.card {
  display: flex;
  flex-direction: column;
}

.card.clickable {
  cursor: pointer;
}

.card.clickable p {
  transition: color 0.2s ease-in;
}

.card.clickable:hover :global(p) {
  color: var(--aries-1);
}

.buttons {
  display: flex;
  justify-content: space-around;
  align-items: center;
}

.button-spacer {
  padding: var(--gap) var(--gap-three-quarter);
}

@media screen and (max-width: 960px) {
  .images {
    flex-direction: column;
    padding: 0 var(--gap);
  }
}
