.treehouse {
  --aries-1: var(--aries-treehouse);
  --aries-selection: var(--aries-treehouse);
}
.ithaca {
  --aries-1: var(--aries-ithaca);
  --aries-selection: var(--aries-ithaca);
}

.villa-paradiso {
  --aries-1: var(--aries-vp-1);
  --aries-selection: var(--aries-vp-1);
}
